body{
    background-image: url(gif4.gif);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    background-color: cadetblue;
    padding: 15px;
    text-align: center;
}